@import "../abstracts/mixins";
@import "../abstracts/variables";

.footer {
  background: #1F1F23;
  @media (min-width: $breakpoint-md) {
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 0;

  }
  &__copyright {
    padding: 8px 0;
    font-weight: 400;
    @include fontSize(10, 12);
    line-height: 1.16;
    color: $whiteColor;

  }
}

.social {
  &__list {
    margin-bottom: 17px;
    margin-top: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  &__item {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid $accentColor;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 10px;
    }

    &:not(&:last-child) {
      margin-right: 10px;
    }

    & img {
      filter: brightness(1) invert(0);
      @include transition(.4);
    }

    &:hover {
      background-color: $accentColor;

      & img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__link {
  }

  &__icon {
  }
}

